/* CSS Reset */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
}
.container {
  margin: 1.3rem;
  background-color: rgb(255, 253, 252);
  box-shadow: 0.3rem 0.1rem 0.1rem 0.1rem black;
}
/* CSS Variables */
:root {
  --navbar-height: 59px;
}

/* Utility Classes */
.h-primary {
  font-family: "Bree Serif", serif;
  font-size: 3.8rem;
  padding: 12px;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
}

.h-secondary {
  font-family: "Bree Serif", serif;
  font-size: 1.8rem;
  padding: 12px;
}

.btn {
  padding: 6px 20px;
  border: 2px solid white;
  background-color: rgb(22, 19, 19);
  color: white;
  margin: 17px;
  font-size: 1.5rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 1s;
}
.btn:hover {
  transform: rotate(360deg);
  font-size: 2rem;
}

.center {
  text-align: center;
}
/* Navigation Bar */
#navbar {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 4;
}

#navbar::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.292);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo {
  margin: 10px 34px;
}

.full-name {
  margin: 1rem 0 0 1rem;
  font-family: "Dancing Script", cursive;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 3px black;
}
.logo h1 {
  display: flex;
}
.logo h1 span {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  margin: 0 0 0 1rem;
  background-color: rgb(241, 239, 239);
  border-radius: 50%;
  font-family: "Dancing Script", cursive;
  color: rgb(0, 0, 0);
}
.logo h1 span:nth-child(1) {
  animation: drop-letters 5s 0.1s infinite;
}
.logo h1 span:nth-child(2) {
  animation: drop-letters 5s 0.2s infinite;
}
.logo h1 span:nth-child(3) {
  animation: drop-letters 5s 0.3s infinite;
}

@keyframes drop-letters {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(0);
  }
  15% {
    transform: translateY(-100%);
  }
  20% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-100%);
  }
  40% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(-100%);
  }
  60% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* Navigation Bar: List Styling */

#navbar ul {
  display: flex;
  font-family: "Baloo Bhai", cursive;
}

#navbar ul li {
  list-style: none;
  font-size: 1.7rem;
  transition: all 0.3s;
  margin: 2rem;
}

#navbar ul li:hover {
  transform: rotate(15deg);
  font-size: 1.4rem;
}

#navbar ul li a {
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px black;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

/* Home Section */
#home {
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

#home::before {
  content: "";
  position: absolute;
  background: url(../img/bg.jpg) no-repeat center center/cover;
  height: 127vh;
  top: -115px;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
}

#home .h-primary {
  color: white;
  font-family: "Bree Serif", serif;
}

#home p {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Bree Serif", serif;
}
/* About us */
#about {
  padding: 4rem;
  height: 100vh;
  background-color: rgb(138 66 66 / 59%);
}

.h1-div {
  width: 20rem;
  margin: auto;
}
.about-div {
  background-color: rgba(255, 255, 255, 0.592);
  width: 85%;
  height: 60vh;
  float: left;
  margin-left: 5rem;
  box-shadow: 0.3rem 0.3rem 0.2rem 0.2rem rgb(0, 0, 0);
  padding: 2rem;
  cursor: pointer;
  
}
.about-div h3{
  transition: all .5s;
}
.about-div h3:hover{
 font-size: 2rem;
 color: rgb(14, 42, 228);
  
}
.about-div h3 {
  color: #000000;
  font-size: 1.6rem;
  margin: 2rem;
  font-family: "Dancing Script", cursive;
}
.about-img img {
  width: 15rem;
  height: 15rem;
  float: left;
  margin-left: 4rem;
  border-radius: 50%;
}

/* Services Section */
#services-container {
  height: 90vh;
  display: flex;
}
#services .box {
  border: 2px solid brown;
  padding: 1rem 0.3rem 1rem 0.3rem;
  margin: 2px 55px;
  border-radius: 28px;
  background: #f2f2f2;
  margin-bottom: 20px;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.4rem black;
  cursor: pointer;
  transition: transform 0.5s;
  height: 60vh;
}
#services .box:hover {
  transform: scale(1.1);
}

#services .box img {
  height: 190px;
  width: 90%;
  margin: auto;
  border-radius: 1rem;
  display: block;
}

#services .box p {
  font-family: "Bree Serif", serif;
}

/* Our Work */
#our-work {
  border: 0px;
}

.work-img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
}

.work-img {
  width: 30rem;
  height: auto;
  transition: all .6s;
  cursor: pointer;
}
.work-img:hover {
  transform: scale(1.1);
  border-radius: 1rem;
}
/* Contact Section */
#contact {
  position: relative;
  z-index: 1;
}
#contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
  background: url("../img/contact.jpg") no-repeat center center/cover;
}
#contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
}

#contact-box form {
  width: 40%;
}

#contact-box label {
  font-size: 1.3rem;
  font-family: "Bree Serif", serif;
}
.sub button {
  font-size: 1rem;
  padding: 0.6rem;
  background-color: red;
  border-radius: 9px;
  font-weight: 700;
  margin-left: 45%;
}
.sub button:hover{
  font-size: 1.4rem;
}

footer {
  background: black;
  color: white;
  padding: 9px 20px;
  height: 20vh;
}
footer h3 {
  margin-top: 3rem;
}
